.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: #272d3d;
  font-family: 'Mulish-Regular', Helvetica;
  height: 250px;
  width: auto;
  padding-top: 20px;
}

.footer h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.7px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame {
}

.text-wrapper {
  color: #ffffff;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.7px;
  gap: 20px;
}

.text-wrapper a {
  color: #ffffff;
}

.copy-right {
  background: #272d3d;
  color: #8d8d8d;
  height: 76px;
  border-top: #edeeee 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Open Sans-Regular', Helvetica;
}

.copy-right a {
  color: #f3533d;
}
