.header {
  height: 80px;
  width: 1366px;
}

.header .group {
  background-color: #134427;
  box-shadow: 0px 4px 9px #0000000f;
  height: 80px;
  position: relative;
}

.header .frame {
  align-items: flex-start;
  display: inline-flex;
  gap: 20px;
  left: 249px;
  padding: 10px 0px;
  position: absolute;
  top: 21px;
}

.header .text-wrapper {
  color: var(--offf-white);
  font-family: 'Mulish', Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.4px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.header .kato-bonded-bnw {
  height: 80px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 202px;
}

.header .div {
  align-items: center;
  display: inline-flex;
  gap: 40px;
  left: 900px;
  position: absolute;
  top: 16px;
}

.header .group-2 {
  height: 45.1px;
  position: relative;
  width: 53px;
}

.header .div-wrapper {
  height: 18px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 55px;
}

.header .text-wrapper-2 {
  color: var(--offf-white);
  font-family: 'Mulish', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 18px;
  left: 0;
  letter-spacing: 1.4px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
}

.header .icon-search {
  height: 24px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 24px;
}

.header .group-3 {
  height: 47.1px;
  position: relative;
  width: 57px;
}

.header .dollar {
  height: 24px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 24px;
}

.header .frame-wrapper {
  height: 20px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 57px;
}

.header .frame-2 {
  align-items: flex-end;
  display: inline-flex;
  gap: 4px;
  justify-content: center;
  position: relative;
}

.header .text-wrapper-3 {
  color: var(--offf-white);
  font-family: 'Mulish', Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.4px;
  line-height: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.header .chevron-down {
  height: 20px;
  position: relative;
  width: 20px;
}

.header .group-4 {
  height: 45.1px;
  position: relative;
  width: 97px;
}

.header .text-wrapper-4 {
  color: var(--offf-white);
  font-family: 'Mulish', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 18px;
  left: 0;
  letter-spacing: 1.4px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 27px;
}

.header .icon-user {
  height: 24px;
  left: 35px;
  position: absolute;
  top: 0;
  width: 24px;
}

.header .group-5 {
  height: 45.1px;
  margin-right: -2px;
  position: relative;
  width: 84px;
}

.header .heart {
  height: 24px;
  left: 30px;
  position: absolute;
  top: 0;
  width: 24px;
}
